flows (3).json
[{"id":"aad329bb.db0bf8","type":"tab","label":"Home Page","disabled":false,"info":""},{"id":"d3e6a0f0.513d6","type":"tab","label":"IPL Match Prediction","disabled":false,"info":""},{"id":"fe83a50f.6d9e28","type":"tab","label":"Toss Winning Prediction","disabled":false,"info":""},{"id":"35835bfd.3dea94","type":"ui_tab","name":"Match Winning Prediction","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"da7ecd09.255d4","type":"ui_tab","name":"Toss Winning Prediction","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7bdea712.5af388","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"fec0b7e3.2589e8","type":"ui_tab","name":"Super IPL Prediction  ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e7a7cd9.4d96e3","type":"ui_tab","name":"Prediction","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"d45bad06.d329e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#2aac8c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#098080","baseFont":"Trebuchet MS,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#184b81","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":true},"group-textColor":{"value":"#0eb8c0","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Trebuchet MS,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"919ba286.50356","type":"ui_spacer","name":"spacer","group":"","order":13,"width":8,"height":1},{"id":"26e77eb4.1d51c2","type":"ui_spacer","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"a757fc20.af9f4","type":"ui_spacer","name":"spacer","group":"","order":25,"width":8,"height":1},{"id":"a6518250.1c2ed","type":"ui_spacer","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"26bd8450.51378c","type":"ui_spacer","name":"spacer","group":"","order":37,"width":8,"height":1},{"id":"4f34d3a0.61f6ec","type":"ui_spacer","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"918217f0.8567c8","type":"ui_spacer","name":"spacer","group":"","order":49,"width":8,"height":1},{"id":"b0350cdd.571a8","type":"ui_spacer","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"cf164fdd.7371b","type":"ui_spacer","name":"spacer","group":"","order":61,"width":8,"height":1},{"id":"710ffe1c.e7f57","type":"ui_spacer","name":"spacer","group":"","order":67,"width":6,"height":1},{"id":"5e36e3c0.ffe33c","type":"ui_spacer","name":"spacer","group":"","order":73,"width":8,"height":1},{"id":"e818c44.628a938","type":"ui_spacer","name":"spacer","group":"","order":79,"width":6,"height":1},{"id":"9e42cb9e.4cd5b8","type":"ui_spacer","name":"spacer","group":"","order":85,"width":8,"height":1},{"id":"ddaafa9a.f63f08","type":"ui_spacer","name":"spacer","group":"","order":91,"width":6,"height":1},{"id":"a16147c5.714cb8","type":"ui_spacer","name":"spacer","group":"","order":97,"width":8,"height":1},{"id":"c32e4d80.086e8","type":"ui_spacer","name":"spacer","group":"","order":103,"width":6,"height":1},{"id":"64f7000e.0b804","type":"ui_spacer","name":"spacer","group":"","order":109,"width":8,"height":1},{"id":"e311aa89.ae5668","type":"ui_spacer","name":"spacer","group":"","order":115,"width":6,"height":1},{"id":"b5dec064.ba739","type":"ui_spacer","name":"spacer","group":"","order":121,"width":8,"height":1},{"id":"f704ad43.a0d51","type":"ui_spacer","name":"spacer","group":"","order":127,"width":6,"height":1},{"id":"aab001d1.29eb4","type":"ui_spacer","name":"spacer","group":"","order":133,"width":8,"height":1},{"id":"a51a7bf1.b8d8a8","type":"ui_spacer","name":"spacer","group":"","order":139,"width":6,"height":1},{"id":"faf7f1ea.c0207","type":"ui_spacer","name":"spacer","group":"","order":145,"width":8,"height":1},{"id":"b61daaa.0d9d158","type":"ui_spacer","name":"spacer","group":"","order":151,"width":6,"height":1},{"id":"7289f906.cccb18","type":"ui_spacer","name":"spacer","group":"","order":157,"width":8,"height":1},{"id":"407e2473.ebf83c","type":"ui_spacer","name":"spacer","group":"","order":163,"width":6,"height":1},{"id":"7b035694.6e21b8","type":"ui_spacer","name":"spacer","group":"","order":169,"width":8,"height":1},{"id":"388efc08.ae9784","type":"ui_spacer","name":"spacer","group":"","order":175,"width":6,"height":1},{"id":"55acc22c.ece61c","type":"ui_spacer","name":"spacer","group":"","order":181,"width":8,"height":1},{"id":"faa6e12f.0f2c2","type":"ui_spacer","name":"spacer","group":"","order":187,"width":6,"height":1},{"id":"82b6e65b.f66ed8","type":"ui_spacer","name":"spacer","group":"","order":193,"width":8,"height":1},{"id":"9a6a8bc5.5af6a8","type":"ui_spacer","name":"spacer","group":"","order":199,"width":6,"height":1},{"id":"960ba71e.1981e8","type":"ui_spacer","name":"spacer","group":"","order":205,"width":8,"height":1},{"id":"bb6f1b6e.60f428","type":"ui_spacer","name":"spacer","group":"","order":211,"width":6,"height":1},{"id":"b56bca01.c87268","type":"ui_spacer","name":"spacer","group":"","order":217,"width":8,"height":1},{"id":"cae76b6e.7edff8","type":"ui_spacer","name":"spacer","group":"","order":223,"width":6,"height":1},{"id":"a84899af.dfc5c8","type":"ui_spacer","name":"spacer","group":"","order":229,"width":8,"height":1},{"id":"e0701b05.df4158","type":"ui_spacer","name":"spacer","group":"","order":235,"width":6,"height":1},{"id":"b6a359fd.815b88","type":"ui_spacer","name":"spacer","group":"","order":241,"width":8,"height":1},{"id":"60a38a6d.812414","type":"ui_spacer","name":"spacer","group":"","order":247,"width":6,"height":1},{"id":"51d17710.51cd88","type":"ui_spacer","name":"spacer","group":"","order":253,"width":8,"height":1},{"id":"450c94e9.b7d5ac","type":"ui_spacer","name":"spacer","group":"","order":259,"width":6,"height":1},{"id":"db68639f.8faba","type":"ui_spacer","name":"spacer","group":"","order":265,"width":8,"height":1},{"id":"6cbdd3e6.46194c","type":"ui_spacer","name":"spacer","group":"","order":271,"width":6,"height":1},{"id":"e4f152a6.6481","type":"ui_spacer","name":"spacer","group":"","order":277,"width":8,"height":1},{"id":"c525aa9b.0db9d8","type":"ui_spacer","name":"spacer","group":"","order":283,"width":6,"height":1},{"id":"7ae2f2b6.f151ac","type":"ui_spacer","name":"spacer","group":"","order":289,"width":8,"height":1},{"id":"870a5872.13b4e8","type":"ui_spacer","name":"spacer","group":"","order":295,"width":6,"height":1},{"id":"c0f61e7a.7c9eb","type":"ui_spacer","name":"spacer","group":"","order":301,"width":8,"height":1},{"id":"13bc02a9.6d12cd","type":"ui_spacer","name":"spacer","group":"","order":307,"width":6,"height":1},{"id":"afcfc4f9.5b9348","type":"ui_spacer","name":"spacer","group":"","order":313,"width":8,"height":1},{"id":"d71326d6.ea69f8","type":"ui_spacer","name":"spacer","group":"","order":319,"width":6,"height":1},{"id":"2c36e8aa.a836c8","type":"ui_spacer","name":"spacer","group":"","order":325,"width":8,"height":1},{"id":"7e931f0b.eec6b","type":"ui_spacer","name":"spacer","group":"","order":331,"width":6,"height":1},{"id":"33b61cc2.f3ce34","type":"ui_spacer","name":"spacer","group":"","order":337,"width":8,"height":1},{"id":"ac1f1dc2.c852","type":"ui_spacer","name":"spacer","group":"","order":343,"width":6,"height":1},{"id":"9e546804.5bf988","type":"ui_spacer","name":"spacer","group":"","order":349,"width":8,"height":1},{"id":"92aecf42.38983","type":"ui_spacer","name":"spacer","group":"","order":355,"width":6,"height":1},{"id":"b3723b7f.5dc288","type":"ui_spacer","name":"spacer","group":"","order":361,"width":8,"height":1},{"id":"95d96568.7529b8","type":"ui_spacer","name":"spacer","group":"","order":367,"width":6,"height":1},{"id":"c2c763c9.1595f","type":"ui_spacer","name":"spacer","group":"","order":373,"width":8,"height":1},{"id":"971e2980.68eb08","type":"ui_spacer","name":"spacer","group":"","order":379,"width":6,"height":1},{"id":"a0ce2fea.8dd0a","type":"ui_spacer","name":"spacer","group":"","order":385,"width":8,"height":1},{"id":"a478b927.acd058","type":"ui_spacer","name":"spacer","group":"","order":391,"width":6,"height":1},{"id":"df4347b8.0c62c8","type":"ui_spacer","name":"spacer","group":"","order":397,"width":8,"height":1},{"id":"eb592ec.0dee0d","type":"ui_spacer","name":"spacer","group":"","order":403,"width":6,"height":1},{"id":"c178e421.5b3a18","type":"ui_spacer","name":"spacer","group":"","order":409,"width":8,"height":1},{"id":"b324c2fa.2083","type":"ui_spacer","name":"spacer","group":"","order":414,"width":6,"height":1},{"id":"c1f27b67.9ad6f8","type":"ui_spacer","name":"spacer","group":"","order":418,"width":8,"height":1},{"id":"c67937da.fc3f38","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"414f8e20.dafde","type":"ui_spacer","name":"spacer","group":"","order":14,"width":8,"height":1},{"id":"216a6d4d.97c402","type":"ui_spacer","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"ca9f2da.0b995d","type":"ui_spacer","name":"spacer","group":"","order":26,"width":8,"height":1},{"id":"1b231c6e.a60714","type":"ui_spacer","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"dc45af97.c2501","type":"ui_spacer","name":"spacer","group":"","order":38,"width":8,"height":1},{"id":"38e8a5ff.e4025a","type":"ui_spacer","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"13349ff0.209b1","type":"ui_spacer","name":"spacer","group":"","order":50,"width":8,"height":1},{"id":"59ecd0e5.08116","type":"ui_spacer","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"3f4634eb.fd76fc","type":"ui_spacer","name":"spacer","group":"","order":62,"width":8,"height":1},{"id":"fc5c6535.f10858","type":"ui_spacer","name":"spacer","group":"","order":68,"width":6,"height":1},{"id":"40e00b08.b396c4","type":"ui_spacer","name":"spacer","group":"","order":74,"width":8,"height":1},{"id":"306a671a.7c4458","type":"ui_spacer","name":"spacer","group":"","order":80,"width":6,"height":1},{"id":"c0f66161.3774","type":"ui_spacer","name":"spacer","group":"","order":86,"width":8,"height":1},{"id":"26f1d1ad.b46d7e","type":"ui_spacer","name":"spacer","group":"","order":92,"width":6,"height":1},{"id":"9e2fd2f0.b1f29","type":"ui_spacer","name":"spacer","group":"","order":98,"width":8,"height":1},{"id":"d6fd5edc.6f063","type":"ui_spacer","name":"spacer","group":"","order":104,"width":6,"height":1},{"id":"fde24f6a.63ebe","type":"ui_spacer","name":"spacer","group":"","order":110,"width":8,"height":1},{"id":"6c06ea8e.c7d624","type":"ui_spacer","name":"spacer","group":"","order":116,"width":6,"height":1},{"id":"d209ba88.08a558","type":"ui_spacer","name":"spacer","group":"","order":122,"width":8,"height":1},{"id":"579c4fd3.cee58","type":"ui_spacer","name":"spacer","group":"","order":128,"width":6,"height":1},{"id":"74c24be3.3b3684","type":"ui_spacer","name":"spacer","group":"","order":134,"width":8,"height":1},{"id":"6a9a8094.1e8fa","type":"ui_spacer","name":"spacer","group":"","order":140,"width":6,"height":1},{"id":"7471ecd4.dddf34","type":"ui_spacer","name":"spacer","group":"","order":146,"width":8,"height":1},{"id":"6b02e8ec.681498","type":"ui_spacer","name":"spacer","group":"","order":152,"width":6,"height":1},{"id":"6ca092e8.3a925c","type":"ui_spacer","name":"spacer","group":"","order":158,"width":8,"height":1},{"id":"591748be.114ba8","type":"ui_spacer","name":"spacer","group":"","order":164,"width":6,"height":1},{"id":"2592d205.d1a20e","type":"ui_spacer","name":"spacer","group":"","order":170,"width":8,"height":1},{"id":"3cdda7a3.0d2458","type":"ui_spacer","name":"spacer","group":"","order":176,"width":6,"height":1},{"id":"9b185505.133fb8","type":"ui_spacer","name":"spacer","group":"","order":182,"width":8,"height":1},{"id":"9c141e78.076a","type":"ui_spacer","name":"spacer","group":"","order":188,"width":6,"height":1},{"id":"430dec88.c03ac4","type":"ui_spacer","name":"spacer","group":"","order":194,"width":8,"height":1},{"id":"744fa357.382cbc","type":"ui_spacer","name":"spacer","group":"","order":200,"width":6,"height":1},{"id":"562922c3.80c41c","type":"ui_spacer","name":"spacer","group":"","order":206,"width":8,"height":1},{"id":"4aa750d2.38d97","type":"ui_spacer","name":"spacer","group":"","order":212,"width":6,"height":1},{"id":"8b19f12f.a400e","type":"ui_spacer","name":"spacer","group":"","order":218,"width":8,"height":1},{"id":"b6eeb2ee.e9f92","type":"ui_spacer","name":"spacer","group":"","order":224,"width":6,"height":1},{"id":"29a8f029.95b18","type":"ui_spacer","name":"spacer","group":"","order":230,"width":8,"height":1},{"id":"ad551664.78e0f8","type":"ui_spacer","name":"spacer","group":"","order":236,"width":6,"height":1},{"id":"d7cc36a6.8b5938","type":"ui_spacer","name":"spacer","group":"","order":242,"width":8,"height":1},{"id":"706f3c16.7bd414","type":"ui_spacer","name":"spacer","group":"","order":248,"width":6,"height":1},{"id":"96379263.935ea","type":"ui_spacer","name":"spacer","group":"","order":254,"width":8,"height":1},{"id":"c2ca5a49.624408","type":"ui_spacer","name":"spacer","group":"","order":260,"width":6,"height":1},{"id":"5e26bc16.589624","type":"ui_spacer","name":"spacer","group":"","order":266,"width":8,"height":1},{"id":"492da9ac.38d578","type":"ui_spacer","name":"spacer","group":"","order":272,"width":6,"height":1},{"id":"54c9be88.30779","type":"ui_spacer","name":"spacer","group":"","order":278,"width":8,"height":1},{"id":"eb657ded.1762c","type":"ui_spacer","name":"spacer","group":"","order":284,"width":6,"height":1},{"id":"a4411638.36d448","type":"ui_spacer","name":"spacer","group":"","order":290,"width":8,"height":1},{"id":"6aa3584b.a384f8","type":"ui_spacer","name":"spacer","group":"","order":296,"width":6,"height":1},{"id":"615f5960.198138","type":"ui_spacer","name":"spacer","group":"","order":302,"width":8,"height":1},{"id":"924ef733.d39888","type":"ui_spacer","name":"spacer","group":"","order":308,"width":6,"height":1},{"id":"a854fab6.e205e8","type":"ui_spacer","name":"spacer","group":"","order":314,"width":8,"height":1},{"id":"c58579ff.794d38","type":"ui_spacer","name":"spacer","group":"","order":320,"width":6,"height":1},{"id":"2e56ba87.dfc766","type":"ui_spacer","name":"spacer","group":"","order":326,"width":8,"height":1},{"id":"643f2120.74efe","type":"ui_spacer","name":"spacer","group":"","order":332,"width":6,"height":1},{"id":"e8b0af45.c9733","type":"ui_spacer","name":"spacer","group":"","order":338,"width":8,"height":1},{"id":"a5ea9253.24ca5","type":"ui_spacer","name":"spacer","group":"","order":344,"width":6,"height":1},{"id":"2e026a0.7199e96","type":"ui_spacer","name":"spacer","group":"","order":350,"width":8,"height":1},{"id":"d8e256ff.f88108","type":"ui_spacer","name":"spacer","group":"","order":356,"width":6,"height":1},{"id":"b1bd8ed7.cd697","type":"ui_spacer","name":"spacer","group":"","order":362,"width":8,"height":1},{"id":"acf9d58b.9f7868","type":"ui_spacer","name":"spacer","group":"","order":368,"width":6,"height":1},{"id":"5bd1b08d.cff9","type":"ui_spacer","name":"spacer","group":"","order":374,"width":8,"height":1},{"id":"121d95cb.58f8fa","type":"ui_spacer","name":"spacer","group":"","order":380,"width":6,"height":1},{"id":"7419b47c.3751fc","type":"ui_spacer","name":"spacer","group":"","order":386,"width":8,"height":1},{"id":"e77c3103.08cb2","type":"ui_spacer","name":"spacer","group":"","order":392,"width":6,"height":1},{"id":"8f196039.6a403","type":"ui_spacer","name":"spacer","group":"","order":398,"width":8,"height":1},{"id":"22bc4c96.8f9724","type":"ui_spacer","name":"spacer","group":"","order":404,"width":6,"height":1},{"id":"e5ceb48.e4c5748","type":"ui_spacer","name":"spacer","group":"","order":410,"width":8,"height":1},{"id":"3eb97c25.74e184","type":"ui_spacer","name":"spacer","group":"","order":415,"width":6,"height":1},{"id":"a9872f5c.a6dd4","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"a71ebaca.bba008","type":"ui_spacer","name":"spacer","group":"","order":15,"width":8,"height":1},{"id":"1188943f.1084fc","type":"ui_spacer","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"9d5d1057.f96ec","type":"ui_spacer","name":"spacer","group":"","order":27,"width":8,"height":1},{"id":"8b378a10.3958c8","type":"ui_spacer","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"83ade3d.986402","type":"ui_spacer","name":"spacer","group":"","order":39,"width":8,"height":1},{"id":"eb63a4d0.f1ff18","type":"ui_spacer","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"5d74df7c.fe332","type":"ui_spacer","name":"spacer","group":"","order":51,"width":8,"height":1},{"id":"a020f22c.cf844","type":"ui_spacer","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"390cff89.784bb","type":"ui_spacer","name":"spacer","group":"","order":63,"width":8,"height":1},{"id":"b122f25.71ca01","type":"ui_spacer","name":"spacer","group":"","order":69,"width":6,"height":1},{"id":"1c66a65d.d4794a","type":"ui_spacer","name":"spacer","group":"","order":75,"width":8,"height":1},{"id":"5866a69e.cbe208","type":"ui_spacer","name":"spacer","group":"","order":81,"width":6,"height":1},{"id":"f300897.5124778","type":"ui_spacer","name":"spacer","group":"","order":87,"width":8,"height":1},{"id":"1baa629a.de240d","type":"ui_spacer","name":"spacer","group":"","order":93,"width":6,"height":1},{"id":"2a87f07d.10988","type":"ui_spacer","name":"spacer","group":"","order":99,"width":8,"height":1},{"id":"be5d5d1f.23516","type":"ui_spacer","name":"spacer","group":"","order":105,"width":6,"height":1},{"id":"7d7d03d3.d24cdc","type":"ui_spacer","name":"spacer","group":"","order":111,"width":8,"height":1},{"id":"c8a87c17.47de2","type":"ui_spacer","name":"spacer","group":"","order":117,"width":6,"height":1},{"id":"c3ba5279.69adb","type":"ui_spacer","name":"spacer","group":"","order":123,"width":8,"height":1},{"id":"f019906d.6913b","type":"ui_spacer","name":"spacer","group":"","order":129,"width":6,"height":1},{"id":"a844b538.2698d8","type":"ui_spacer","name":"spacer","group":"","order":135,"width":8,"height":1},{"id":"50093011.58696","type":"ui_spacer","name":"spacer","group":"","order":141,"width":6,"height":1},{"id":"fbcdf2.6b6df21","type":"ui_spacer","name":"spacer","group":"","order":147,"width":8,"height":1},{"id":"848787a9.661cd8","type":"ui_spacer","name":"spacer","group":"","order":153,"width":6,"height":1},{"id":"63858fd0.8f898","type":"ui_spacer","name":"spacer","group":"","order":159,"width":8,"height":1},{"id":"e0ac600f.7b8b8","type":"ui_spacer","name":"spacer","group":"","order":165,"width":6,"height":1},{"id":"3f3a502.b0232b","type":"ui_spacer","name":"spacer","group":"","order":171,"width":8,"height":1},{"id":"944fb8ee.8bc8d8","type":"ui_spacer","name":"spacer","group":"","order":177,"width":6,"height":1},{"id":"1791a301.44587d","type":"ui_spacer","name":"spacer","group":"","order":183,"width":8,"height":1},{"id":"8a5d5613.7bbac8","type":"ui_spacer","name":"spacer","group":"","order":189,"width":6,"height":1},{"id":"647f1df4.02cd24","type":"ui_spacer","name":"spacer","group":"","order":195,"width":8,"height":1},{"id":"509a8f7e.20cc9","type":"ui_spacer","name":"spacer","group":"","order":201,"width":6,"height":1},{"id":"7127b68c.135508","type":"ui_spacer","name":"spacer","group":"","order":207,"width":8,"height":1},{"id":"ad2c5f19.75bff","type":"ui_spacer","name":"spacer","group":"","order":213,"width":6,"height":1},{"id":"5178ab1b.94e094","type":"ui_spacer","name":"spacer","group":"","order":219,"width":8,"height":1},{"id":"ad044aa2.f47ce8","type":"ui_spacer","name":"spacer","group":"","order":225,"width":6,"height":1},{"id":"350a9193.b711de","type":"ui_spacer","name":"spacer","group":"","order":231,"width":8,"height":1},{"id":"4fb053a.e628fac","type":"ui_spacer","name":"spacer","group":"","order":237,"width":6,"height":1},{"id":"aefa477.31609b8","type":"ui_spacer","name":"spacer","group":"","order":243,"width":8,"height":1},{"id":"9ea97921.dd1548","type":"ui_spacer","name":"spacer","group":"","order":249,"width":6,"height":1},{"id":"7a02dbdd.0e9634","type":"ui_spacer","name":"spacer","group":"","order":255,"width":8,"height":1},{"id":"25e2b583.6ce7aa","type":"ui_spacer","name":"spacer","group":"","order":261,"width":6,"height":1},{"id":"e1be177c.daef98","type":"ui_spacer","name":"spacer","group":"","order":267,"width":8,"height":1},{"id":"344ecbe0.efc744","type":"ui_spacer","name":"spacer","group":"","order":273,"width":6,"height":1},{"id":"8ce0e8b2.93dcc8","type":"ui_spacer","name":"spacer","group":"","order":279,"width":8,"height":1},{"id":"89173e63.e96b4","type":"ui_spacer","name":"spacer","group":"","order":285,"width":6,"height":1},{"id":"37402e66.38b4a2","type":"ui_spacer","name":"spacer","group":"","order":291,"width":8,"height":1},{"id":"5118b9df.4ed538","type":"ui_spacer","name":"spacer","group":"","order":297,"width":6,"height":1},{"id":"8f7e1fd2.bdf88","type":"ui_spacer","name":"spacer","group":"","order":303,"width":8,"height":1},{"id":"f7ea8053.20a81","type":"ui_spacer","name":"spacer","group":"","order":309,"width":6,"height":1},{"id":"5661bc5e.93dd94","type":"ui_spacer","name":"spacer","group":"","order":315,"width":8,"height":1},{"id":"a29cfa06.8c90b8","type":"ui_spacer","name":"spacer","group":"","order":321,"width":6,"height":1},{"id":"54172942.801368","type":"ui_spacer","name":"spacer","group":"","order":327,"width":8,"height":1},{"id":"46368b62.341054","type":"ui_spacer","name":"spacer","group":"","order":333,"width":6,"height":1},{"id":"173a840b.1f23cc","type":"ui_spacer","name":"spacer","group":"","order":339,"width":8,"height":1},{"id":"d9060110.3b47f","type":"ui_spacer","name":"spacer","group":"","order":345,"width":6,"height":1},{"id":"6dc72748.89c3b8","type":"ui_spacer","name":"spacer","group":"","order":351,"width":8,"height":1},{"id":"959b3043.1efda","type":"ui_spacer","name":"spacer","group":"","order":357,"width":6,"height":1},{"id":"34cac799.f88e58","type":"ui_spacer","name":"spacer","group":"","order":363,"width":8,"height":1},{"id":"d43400ea.f71b2","type":"ui_spacer","name":"spacer","group":"","order":369,"width":6,"height":1},{"id":"c55c724b.802e7","type":"ui_spacer","name":"spacer","group":"","order":375,"width":8,"height":1},{"id":"c8145fb3.3036c","type":"ui_spacer","name":"spacer","group":"","order":381,"width":6,"height":1},{"id":"c669db96.7d7818","type":"ui_spacer","name":"spacer","group":"","order":387,"width":8,"height":1},{"id":"e919a7ce.df3018","type":"ui_spacer","name":"spacer","group":"","order":393,"width":6,"height":1},{"id":"ef863d81.fd267","type":"ui_spacer","name":"spacer","group":"","order":399,"width":8,"height":1},{"id":"7d2522f7.f8526c","type":"ui_spacer","name":"spacer","group":"","order":405,"width":6,"height":1},{"id":"652c11ef.b9639","type":"ui_spacer","name":"spacer","group":"","order":411,"width":8,"height":1},{"id":"19f98a86.09f3a5","type":"ui_spacer","name":"spacer","group":"","order":419,"width":8,"height":1},{"id":"ba576964.e355d8","type":"ui_spacer","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"af3cb9ab.14ab18","type":"ui_spacer","name":"spacer","group":"","order":16,"width":8,"height":1},{"id":"cc93c34.390384","type":"ui_spacer","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"9c6ffe7f.97e43","type":"ui_spacer","name":"spacer","group":"","order":28,"width":8,"height":1},{"id":"5084f780.f47678","type":"ui_spacer","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"74d74171.03869","type":"ui_spacer","name":"spacer","group":"","order":40,"width":8,"height":1},{"id":"6121ee8b.8372a","type":"ui_spacer","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"110cfa0a.e3b126","type":"ui_spacer","name":"spacer","group":"","order":52,"width":8,"height":1},{"id":"fddc300.d1ff0d","type":"ui_spacer","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"ef8359e2.b55998","type":"ui_spacer","name":"spacer","group":"","order":64,"width":8,"height":1},{"id":"c86a0250.a168b","type":"ui_spacer","name":"spacer","group":"","order":70,"width":6,"height":1},{"id":"a5ce5b56.5c4cb8","type":"ui_spacer","name":"spacer","group":"","order":76,"width":8,"height":1},{"id":"51c4f50c.91a5cc","type":"ui_spacer","name":"spacer","group":"","order":82,"width":6,"height":1},{"id":"6ba4613f.f1c68","type":"ui_spacer","name":"spacer","group":"","order":88,"width":8,"height":1},{"id":"6cf242ad.b8a51c","type":"ui_spacer","name":"spacer","group":"","order":94,"width":6,"height":1},{"id":"16695e23.6892a2","type":"ui_spacer","name":"spacer","group":"","order":100,"width":8,"height":1},{"id":"48a18e65.2cbdb","type":"ui_spacer","name":"spacer","group":"","order":106,"width":6,"height":1},{"id":"faad9348.d02b6","type":"ui_spacer","name":"spacer","group":"","order":112,"width":8,"height":1},{"id":"e79fb0ab.4049c","type":"ui_spacer","name":"spacer","group":"","order":118,"width":6,"height":1},{"id":"b6421357.2a3a1","type":"ui_spacer","name":"spacer","group":"","order":124,"width":8,"height":1},{"id":"7cdd8c5a.833134","type":"ui_spacer","name":"spacer","group":"","order":130,"width":6,"height":1},{"id":"1cda65ad.6e657a","type":"ui_spacer","name":"spacer","group":"","order":136,"width":8,"height":1},{"id":"c3d43147.e3fd3","type":"ui_spacer","name":"spacer","group":"","order":142,"width":6,"height":1},{"id":"5f341d01.151894","type":"ui_spacer","name":"spacer","group":"","order":148,"width":8,"height":1},{"id":"2da2e763.576798","type":"ui_spacer","name":"spacer","group":"","order":154,"width":6,"height":1},{"id":"45c2346f.642c5c","type":"ui_spacer","name":"spacer","group":"","order":160,"width":8,"height":1},{"id":"1a9fd8e6.e3dfb7","type":"ui_spacer","name":"spacer","group":"","order":166,"width":6,"height":1},{"id":"60f4387f.f30278","type":"ui_spacer","name":"spacer","group":"","order":172,"width":8,"height":1},{"id":"83a3b3f4.0d38d","type":"ui_spacer","name":"spacer","group":"","order":178,"width":6,"height":1},{"id":"a90b5895.1039c8","type":"ui_spacer","name":"spacer","group":"","order":184,"width":8,"height":1},{"id":"e6219f99.2ca16","type":"ui_spacer","name":"spacer","group":"","order":190,"width":6,"height":1},{"id":"45d0b816.aee0a8","type":"ui_spacer","name":"spacer","group":"","order":196,"width":8,"height":1},{"id":"2f47811a.3ea76e","type":"ui_spacer","name":"spacer","group":"","order":202,"width":6,"height":1},{"id":"20c44095.85d57","type":"ui_spacer","name":"spacer","group":"","order":208,"width":8,"height":1},{"id":"75fbe4f5.7a497c","type":"ui_spacer","name":"spacer","group":"","order":214,"width":6,"height":1},{"id":"2ad24b0.22a76b6","type":"ui_spacer","name":"spacer","group":"","order":220,"width":8,"height":1},{"id":"bb40eb98.70dfe8","type":"ui_spacer","name":"spacer","group":"","order":226,"width":6,"height":1},{"id":"702cf7e.d7b6508","type":"ui_spacer","name":"spacer","group":"","order":232,"width":8,"height":1},{"id":"f581de93.91c6c","type":"ui_spacer","name":"spacer","group":"","order":238,"width":6,"height":1},{"id":"61670f28.67685","type":"ui_spacer","name":"spacer","group":"","order":244,"width":8,"height":1},{"id":"93a40e0e.f1879","type":"ui_spacer","name":"spacer","group":"","order":250,"width":6,"height":1},{"id":"957090cf.d260b","type":"ui_spacer","name":"spacer","group":"","order":256,"width":8,"height":1},{"id":"aa09115a.11109","type":"ui_spacer","name":"spacer","group":"","order":262,"width":6,"height":1},{"id":"281587c.ef0b978","type":"ui_spacer","name":"spacer","group":"","order":268,"width":8,"height":1},{"id":"16dea57d.96918b","type":"ui_spacer","name":"spacer","group":"","order":274,"width":6,"height":1},{"id":"479196a8.553178","type":"ui_spacer","name":"spacer","group":"","order":280,"width":8,"height":1},{"id":"eef46b7f.87ebb8","type":"ui_spacer","name":"spacer","group":"","order":286,"width":6,"height":1},{"id":"4a7061c6.e120c","type":"ui_spacer","name":"spacer","group":"","order":292,"width":8,"height":1},{"id":"b3709630.362ce8","type":"ui_spacer","name":"spacer","group":"","order":298,"width":6,"height":1},{"id":"baf4ce88.2d96b","type":"ui_spacer","name":"spacer","group":"","order":304,"width":8,"height":1},{"id":"d3a8dfb4.855f","type":"ui_spacer","name":"spacer","group":"","order":310,"width":6,"height":1},{"id":"76acd240.6b424c","type":"ui_spacer","name":"spacer","group":"","order":316,"width":8,"height":1},{"id":"b85f743a.fdf6d8","type":"ui_spacer","name":"spacer","group":"","order":322,"width":6,"height":1},{"id":"2c0027c6.bbccf8","type":"ui_spacer","name":"spacer","group":"","order":328,"width":8,"height":1},{"id":"a2a6a66e.50d8b8","type":"ui_spacer","name":"spacer","group":"","order":334,"width":6,"height":1},{"id":"6aec3fc9.2b05f","type":"ui_spacer","name":"spacer","group":"","order":340,"width":8,"height":1},{"id":"fb491a66.0c86d8","type":"ui_spacer","name":"spacer","group":"","order":346,"width":6,"height":1},{"id":"bb928054.b447a","type":"ui_spacer","name":"spacer","group":"","order":352,"width":8,"height":1},{"id":"221afcc6.607264","type":"ui_spacer","name":"spacer","group":"","order":358,"width":6,"height":1},{"id":"434133c.7412acc","type":"ui_spacer","name":"spacer","group":"","order":364,"width":8,"height":1},{"id":"9986a17f.b7348","type":"ui_spacer","name":"spacer","group":"","order":370,"width":6,"height":1},{"id":"c9d438a9.03b3e8","type":"ui_spacer","name":"spacer","group":"","order":376,"width":8,"height":1},{"id":"688c9c72.53ced4","type":"ui_spacer","name":"spacer","group":"","order":382,"width":6,"height":1},{"id":"63b41586.760fbc","type":"ui_spacer","name":"spacer","group":"","order":388,"width":8,"height":1},{"id":"59281ea4.c7fd8","type":"ui_spacer","name":"spacer","group":"","order":394,"width":6,"height":1},{"id":"443638fe.1026c8","type":"ui_spacer","name":"spacer","group":"","order":400,"width":8,"height":1},{"id":"34eea254.ac267e","type":"ui_spacer","name":"spacer","group":"","order":406,"width":6,"height":1},{"id":"c1c9a162.603db","type":"ui_spacer","name":"spacer","group":"","order":412,"width":8,"height":1},{"id":"f70de004.5e254","type":"ui_spacer","name":"spacer","group":"","order":416,"width":6,"height":1},{"id":"4b53265.de1b7d8","type":"ui_spacer","name":"spacer","group":"","order":420,"width":8,"height":1},{"id":"136f376f.7fa359","type":"ui_spacer","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"fa23ae34.0f086","type":"ui_spacer","name":"spacer","group":"","order":17,"width":8,"height":1},{"id":"50f37d9.82a4f84","type":"ui_spacer","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"5080aba8.0b6724","type":"ui_spacer","name":"spacer","group":"","order":29,"width":8,"height":1},{"id":"7ce52206.c3badc","type":"ui_spacer","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"a0167b19.47b2a8","type":"ui_spacer","name":"spacer","group":"","order":41,"width":8,"height":1},{"id":"66775f75.a2591","type":"ui_spacer","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"5e693130.b283b","type":"ui_spacer","name":"spacer","group":"","order":53,"width":8,"height":1},{"id":"95d11d5c.090ce","type":"ui_spacer","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"35cb57fd.b07178","type":"ui_spacer","name":"spacer","group":"","order":65,"width":8,"height":1},{"id":"d8b5e8f1.872eb8","type":"ui_spacer","name":"spacer","group":"","order":71,"width":6,"height":1},{"id":"222f399f.81b0f6","type":"ui_spacer","name":"spacer","group":"","order":77,"width":8,"height":1},{"id":"145e03de.7501dc","type":"ui_spacer","name":"spacer","group":"","order":83,"width":6,"height":1},{"id":"97b2e143.efcd9","type":"ui_spacer","name":"spacer","group":"","order":89,"width":8,"height":1},{"id":"623443c4.4f8ccc","type":"ui_spacer","name":"spacer","group":"","order":95,"width":6,"height":1},{"id":"c72de665.8f4e88","type":"ui_spacer","name":"spacer","group":"","order":101,"width":8,"height":1},{"id":"6c0f9392.c0b97c","type":"ui_spacer","name":"spacer","group":"","order":107,"width":6,"height":1},{"id":"5a24d7e2.b3ca58","type":"ui_spacer","name":"spacer","group":"","order":113,"width":8,"height":1},{"id":"1a328a59.1977c6","type":"ui_spacer","name":"spacer","group":"","order":119,"width":6,"height":1},{"id":"95fca3ac.3fbf9","type":"ui_spacer","name":"spacer","group":"","order":125,"width":8,"height":1},{"id":"3d63d19.2cd012e","type":"ui_spacer","name":"spacer","group":"","order":131,"width":6,"height":1},{"id":"c13fb6ae.698658","type":"ui_spacer","name":"spacer","group":"","order":137,"width":8,"height":1},{"id":"95a290af.01522","type":"ui_spacer","name":"spacer","group":"","order":143,"width":6,"height":1},{"id":"abba1dfe.a269","type":"ui_spacer","name":"spacer","group":"","order":149,"width":8,"height":1},{"id":"f1bbe79f.552fe8","type":"ui_spacer","name":"spacer","group":"","order":155,"width":6,"height":1},{"id":"29218b2.250db74","type":"ui_spacer","name":"spacer","group":"","order":161,"width":8,"height":1},{"id":"67249128.b30a9","type":"ui_spacer","name":"spacer","group":"","order":167,"width":6,"height":1},{"id":"909fe7ea.c21978","type":"ui_spacer","name":"spacer","group":"","order":173,"width":8,"height":1},{"id":"f827341f.404b08","type":"ui_spacer","name":"spacer","group":"","order":179,"width":6,"height":1},{"id":"ca4f8146.247e2","type":"ui_spacer","name":"spacer","group":"","order":185,"width":8,"height":1},{"id":"71461486.ec2b9c","type":"ui_spacer","name":"spacer","group":"","order":191,"width":6,"height":1},{"id":"ba758203.3e1f3","type":"ui_spacer","name":"spacer","group":"","order":197,"width":8,"height":1},{"id":"4b073d01.1e9524","type":"ui_spacer","name":"spacer","group":"","order":203,"width":6,"height":1},{"id":"e6a48e2f.c5ee7","type":"ui_spacer","name":"spacer","group":"","order":209,"width":8,"height":1},{"id":"85d40251.69fb2","type":"ui_spacer","name":"spacer","group":"","order":215,"width":6,"height":1},{"id":"70a8aa28.3f86d4","type":"ui_spacer","name":"spacer","group":"","order":221,"width":8,"height":1},{"id":"b5494280.b5d76","type":"ui_spacer","name":"spacer","group":"","order":227,"width":6,"height":1},{"id":"531afb2e.a3c7a4","type":"ui_spacer","name":"spacer","group":"","order":233,"width":8,"height":1},{"id":"8a7390d8.b641","type":"ui_spacer","name":"spacer","group":"","order":239,"width":6,"height":1},{"id":"9fbbc68e.05c808","type":"ui_spacer","name":"spacer","group":"","order":245,"width":8,"height":1},{"id":"21c85a68.de4596","type":"ui_spacer","name":"spacer","group":"","order":251,"width":6,"height":1},{"id":"fc323a84.87c068","type":"ui_spacer","name":"spacer","group":"","order":257,"width":8,"height":1},{"id":"64b2fd73.2d33b4","type":"ui_spacer","name":"spacer","group":"","order":263,"width":6,"height":1},{"id":"712db5d3.e94f3c","type":"ui_spacer","name":"spacer","group":"","order":269,"width":8,"height":1},{"id":"a59fa560.5c2e78","type":"ui_spacer","name":"spacer","group":"","order":275,"width":6,"height":1},{"id":"341527c2.1aa4d8","type":"ui_spacer","name":"spacer","group":"","order":281,"width":8,"height":1},{"id":"f4df4eca.b629f","type":"ui_spacer","name":"spacer","group":"","order":287,"width":6,"height":1},{"id":"2fb72ddf.ca91e2","type":"ui_spacer","name":"spacer","group":"","order":293,"width":8,"height":1},{"id":"3375e1d1.08690e","type":"ui_spacer","name":"spacer","group":"","order":299,"width":6,"height":1},{"id":"a4922d70.fd4bf","type":"ui_spacer","name":"spacer","group":"","order":305,"width":8,"height":1},{"id":"865bdc23.f25ad","type":"ui_spacer","name":"spacer","group":"","order":311,"width":6,"height":1},{"id":"193fea78.d2d4d6","type":"ui_spacer","name":"spacer","group":"","order":317,"width":8,"height":1},{"id":"48b76db0.5d7124","type":"ui_spacer","name":"spacer","group":"","order":323,"width":6,"height":1},{"id":"dd6fdf19.f1704","type":"ui_spacer","name":"spacer","group":"","order":329,"width":8,"height":1},{"id":"d75d3c85.342c9","type":"ui_spacer","name":"spacer","group":"","order":335,"width":6,"height":1},{"id":"e9a019c7.3c5ec8","type":"ui_spacer","name":"spacer","group":"","order":341,"width":8,"height":1},{"id":"b50c8318.2e65a","type":"ui_spacer","name":"spacer","group":"","order":347,"width":6,"height":1},{"id":"70fc0859.307dd8","type":"ui_spacer","name":"spacer","group":"","order":353,"width":8,"height":1},{"id":"5e6c781.2675888","type":"ui_spacer","name":"spacer","group":"","order":359,"width":6,"height":1},{"id":"5ab56a60.0488a4","type":"ui_spacer","name":"spacer","group":"","order":365,"width":8,"height":1},{"id":"5932860d.68d648","type":"ui_spacer","name":"spacer","group":"","order":371,"width":6,"height":1},{"id":"d734c7a9.8f1f88","type":"ui_spacer","name":"spacer","group":"","order":377,"width":8,"height":1},{"id":"f1afd4ff.61f4f8","type":"ui_spacer","name":"spacer","group":"","order":383,"width":6,"height":1},{"id":"a0ff8b0d.2816c8","type":"ui_spacer","name":"spacer","group":"","order":389,"width":8,"height":1},{"id":"8819c3b3.0b4fc","type":"ui_spacer","name":"spacer","group":"","order":395,"width":6,"height":1},{"id":"7f3420b0.25c46","type":"ui_spacer","name":"spacer","group":"","order":401,"width":8,"height":1},{"id":"71fb710e.3bd7c","type":"ui_spacer","name":"spacer","group":"","order":407,"width":6,"height":1},{"id":"cf8f01e6.65109","type":"ui_spacer","name":"spacer","group":"","order":417,"width":6,"height":1},{"id":"7d453f55.af86c","type":"ui_spacer","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"61f7333e.6a0ffc","type":"ui_spacer","name":"spacer","group":"","order":18,"width":8,"height":1},{"id":"c71c8bb7.95f6a8","type":"ui_spacer","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"2d3ac318.7516ec","type":"ui_spacer","name":"spacer","group":"","order":30,"width":8,"height":1},{"id":"b10e2ab6.9f1fe8","type":"ui_spacer","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"eb1838ee.6e26b8","type":"ui_spacer","name":"spacer","group":"","order":42,"width":8,"height":1},{"id":"61acaa78.137d84","type":"ui_spacer","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"9640fe3a.5212c","type":"ui_spacer","name":"spacer","group":"","order":54,"width":8,"height":1},{"id":"79e6be1.dcea84","type":"ui_spacer","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"8b347036.4a259","type":"ui_spacer","name":"spacer","group":"","order":66,"width":8,"height":1},{"id":"bb0a926f.8695","type":"ui_spacer","name":"spacer","group":"","order":72,"width":6,"height":1},{"id":"21d45024.b3804","type":"ui_spacer","name":"spacer","group":"","order":78,"width":8,"height":1},{"id":"bb4f6a43.687b68","type":"ui_spacer","name":"spacer","group":"","order":84,"width":6,"height":1},{"id":"5c83558c.d3c1bc","type":"ui_spacer","name":"spacer","group":"","order":90,"width":8,"height":1},{"id":"9138eeee.580cb","type":"ui_spacer","name":"spacer","group":"","order":96,"width":6,"height":1},{"id":"ce4e2608.1da908","type":"ui_spacer","name":"spacer","group":"","order":102,"width":8,"height":1},{"id":"741f6257.5eeafc","type":"ui_spacer","name":"spacer","group":"","order":108,"width":6,"height":1},{"id":"eec6d2a9.40d0c","type":"ui_spacer","name":"spacer","group":"","order":114,"width":8,"height":1},{"id":"ebb8329.b6417d","type":"ui_spacer","name":"spacer","group":"","order":120,"width":6,"height":1},{"id":"30c4cba2.430f64","type":"ui_spacer","name":"spacer","group":"","order":126,"width":8,"height":1},{"id":"522eb4d9.51980c","type":"ui_spacer","name":"spacer","group":"","order":132,"width":6,"height":1},{"id":"935c17e3.d957d8","type":"ui_spacer","name":"spacer","group":"","order":138,"width":8,"height":1},{"id":"ef83925d.f3206","type":"ui_spacer","name":"spacer","group":"","order":144,"width":6,"height":1},{"id":"fa7dbb0d.498408","type":"ui_spacer","name":"spacer","group":"","order":150,"width":8,"height":1},{"id":"c688e1a7.26fb8","type":"ui_spacer","name":"spacer","group":"","order":156,"width":6,"height":1},{"id":"2befa22f.09ddee","type":"ui_spacer","name":"spacer","group":"","order":162,"width":8,"height":1},{"id":"1cd329e4.4b6676","type":"ui_spacer","name":"spacer","group":"","order":168,"width":6,"height":1},{"id":"91e9a7d.3af5b58","type":"ui_spacer","name":"spacer","group":"","order":174,"width":8,"height":1},{"id":"46ea224.41c80dc","type":"ui_spacer","name":"spacer","group":"","order":180,"width":6,"height":1},{"id":"24d20254.1fa75e","type":"ui_spacer","name":"spacer","group":"","order":186,"width":8,"height":1},{"id":"d3dde5b.f59f118","type":"ui_spacer","name":"spacer","group":"","order":192,"width":6,"height":1},{"id":"4b0bdec6.7d209","type":"ui_spacer","name":"spacer","group":"","order":198,"width":8,"height":1},{"id":"a07b05cc.f9d1a8","type":"ui_spacer","name":"spacer","group":"","order":204,"width":6,"height":1},{"id":"e91a5804.ecd2d8","type":"ui_spacer","name":"spacer","group":"","order":210,"width":8,"height":1},{"id":"5de2f229.a933dc","type":"ui_spacer","name":"spacer","group":"","order":216,"width":6,"height":1},{"id":"94734241.82f0c","type":"ui_spacer","name":"spacer","group":"","order":222,"width":8,"height":1},{"id":"a59424d8.664c88","type":"ui_spacer","name":"spacer","group":"","order":228,"width":6,"height":1},{"id":"8452874.3c67378","type":"ui_spacer","name":"spacer","group":"","order":234,"width":8,"height":1},{"id":"2cfc95f.3a5666a","type":"ui_spacer","name":"spacer","group":"","order":240,"width":6,"height":1},{"id":"2b9a8242.f531ce","type":"ui_spacer","name":"spacer","group":"","order":246,"width":8,"height":1},{"id":"c364d5d4.9faff8","type":"ui_spacer","name":"spacer","group":"","order":252,"width":6,"height":1},{"id":"494a2344.1eb70c","type":"ui_spacer","name":"spacer","group":"","order":258,"width":8,"height":1},{"id":"4e78d989.5e5b58","type":"ui_spacer","name":"spacer","group":"","order":264,"width":6,"height":1},{"id":"5bc498ba.90ff58","type":"ui_spacer","name":"spacer","group":"","order":270,"width":8,"height":1},{"id":"a1426d6a.5b0ab","type":"ui_spacer","name":"spacer","group":"","order":276,"width":6,"height":1},{"id":"a5436cbf.e6849","type":"ui_spacer","name":"spacer","group":"","order":282,"width":8,"height":1},{"id":"8e8d5315.8a148","type":"ui_spacer","name":"spacer","group":"","order":288,"width":6,"height":1},{"id":"9e34af6c.56d55","type":"ui_spacer","name":"spacer","group":"","order":294,"width":8,"height":1},{"id":"a02cb561.8a5608","type":"ui_spacer","name":"spacer","group":"","order":300,"width":6,"height":1},{"id":"1517dc57.0a9b14","type":"ui_spacer","name":"spacer","group":"","order":306,"width":8,"height":1},{"id":"54b0bbc3.c26014","type":"ui_spacer","name":"spacer","group":"","order":312,"width":6,"height":1},{"id":"aeaad5de.6c7a38","type":"ui_spacer","name":"spacer","group":"","order":318,"width":8,"height":1},{"id":"3f7e9d8b.899ec2","type":"ui_spacer","name":"spacer","group":"","order":324,"width":6,"height":1},{"id":"2e3ba380.b10bec","type":"ui_spacer","name":"spacer","group":"","order":330,"width":8,"height":1},{"id":"3710f84d.748b28","type":"ui_spacer","name":"spacer","group":"","order":336,"width":6,"height":1},{"id":"c4370fba.74791","type":"ui_spacer","name":"spacer","group":"","order":342,"width":8,"height":1},{"id":"a955acb5.3af01","type":"ui_spacer","name":"spacer","group":"","order":348,"width":6,"height":1},{"id":"ac68ff82.686b2","type":"ui_spacer","name":"spacer","group":"","order":354,"width":8,"height":1},{"id":"2f45e655.c229ba","type":"ui_spacer","name":"spacer","group":"","order":360,"width":6,"height":1},{"id":"68ea0610.6be608","type":"ui_spacer","name":"spacer","group":"","order":366,"width":8,"height":1},{"id":"a27f1a54.ff1218","type":"ui_spacer","name":"spacer","group":"","order":372,"width":6,"height":1},{"id":"917334b8.3b27d8","type":"ui_spacer","name":"spacer","group":"","order":378,"width":8,"height":1},{"id":"7424448e.dcc34c","type":"ui_spacer","name":"spacer","group":"","order":384,"width":6,"height":1},{"id":"284d579b.0c5cc8","type":"ui_spacer","name":"spacer","group":"","order":390,"width":8,"height":1},{"id":"80a23bba.156ae8","type":"ui_spacer","name":"spacer","group":"","order":396,"width":6,"height":1},{"id":"6890b181.96833","type":"ui_spacer","name":"spacer","group":"","order":402,"width":8,"height":1},{"id":"18aaa9e2.180506","type":"ui_spacer","name":"spacer","group":"","order":408,"width":6,"height":1},{"id":"9a0335d4.d82818","type":"ui_spacer","name":"spacer","group":"","order":413,"width":8,"height":1},{"id":"7bbbc78f.441dc8","type":"ui_group","name":"Prediction","tab":"fec0b7e3.2589e8","order":3,"disp":false,"width":"20","collapse":false},{"id":"6a5668eb.ea54b8","type":"ui_group","name":"TOSS RESULT  PREDICTION","tab":"da7ecd09.255d4","order":3,"disp":true,"width":"11","collapse":false},{"id":"dc323ebc.76ce8","type":"ui_group","name":"Group 1","tab":"7bdea712.5af388","order":7,"disp":false,"width":"23","collapse":false},{"id":"ff0da164.2db5a","type":"ui_group","name":"Group 8","tab":"","order":8,"disp":true,"width":6},{"id":"e4a8458f.4aef98","type":"ui_group","name":"Group 9","tab":"","order":9,"disp":true,"width":6},{"id":"f02dcbd7.2017d8","type":"ui_group","name":"Group 10","tab":"","order":10,"disp":true,"width":6},{"id":"f4155dc1.2d9e6","type":"ui_group","name":"Group 11","tab":"","order":11,"disp":true,"width":6},{"id":"b44fc961.3a6ad8","type":"ui_group","name":"Group 12","tab":"","order":12,"disp":true,"width":6},{"id":"ee61e15c.884a1","type":"ui_group","name":"Group 13","tab":"","order":13,"disp":true,"width":6},{"id":"92843591.c1dcc8","type":"ui_group","name":"Group 14","tab":"","order":14,"disp":true,"width":6},{"id":"b8c9ef88.9f403","type":"ui_group","name":"Group 15","tab":"","order":15,"disp":true,"width":6},{"id":"a82b8305.246ca","type":"ui_group","name":"Group 16","tab":"","order":16,"disp":true,"width":6},{"id":"b59ab126.837c6","type":"ui_group","name":"Group 17","tab":"","order":17,"disp":true,"width":6},{"id":"96144725.c16588","type":"ui_group","name":"MATCH PREDICTION","tab":"35835bfd.3dea94","order":1,"disp":true,"width":"11","collapse":false},{"id":"7029755c.9db36c","type":"ui_group","name":"Enter the values","tab":"e7a7cd9.4d96e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"517bd8c6.c20508","type":"ui_link","name":"Go to Dashboard","link":"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/5122c063-9084-45c5-abcd-04cfeaf13736/view/073de07611b314ef47b3f6e407cb780e2f3f205be7bb825789d77b490f357397f36945c5c87e1f088e160560a7e4475998","icon":"open_in_browser","target":"newtab","order":6},{"id":"4d32629c.beccbc","type":"ui_template","z":"aad329bb.db0bf8","group":"7bbbc78f.441dc8","name":"Front Page HTML","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<h1 style=\"font-size:50px;\"> <br><center>WELCOME</center></h1>\n<p><center>to </center> </p>\n<h2><center>Super Prediction of <br><b><u>Indian Premier League </u></b></center> </h2>\n</head>\n<footer>\n  <p style=\"text-align:right;\"><i><u><br><br><br><br><br><br><br><br><br>  Created By : Gurmeet   &   Abhishek </i></p></u></u>\n \n</footer>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":40,"wires":[[]]},{"id":"31f64103.ae8e8e","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Select Team 1","tooltip":"","place":"Select option","group":"96144725.c16588","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sunrisers Hyderabad","value":"Sunrisers Hyderabad","type":"str"},{"label":"Royal Challengers Bangalore","value":"Royal Challengers Bangalore","type":"str"},{"label":"Mumbai Indians","value":"Mumbai Indians","type":"str"},{"label":"Rising Pune Supergiant","value":"Rising Pune Supergiant","type":"str"},{"label":"Gujarat Lions","value":"Gujarat Lions","type":"str"},{"label":"Kolkata Knight Riders","value":"Kolkata Knight Riders","type":"str"},{"label":"Kings XI Punjab","value":"Kings XI Punjab","type":"str"},{"label":"Delhi Daredevils","value":"Delhi Daredevils","type":"str"},{"label":"Chennai Super Kings","value":"Chennai Super Kings","type":"str"},{"label":"Deccan Chargers","value":"Deccan Chargers","type":"str"},{"label":"Kochi Tuskers Kerala","value":"Kochi Tuskers Kerala","type":"str"},{"label":"","value":"Pune Warriors","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":140,"wires":[["b0e789f4.588b98","9a71161d.e90128"]]},{"id":"7b155410.277e9c","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Select Team 2","tooltip":"","place":"Select option","group":"96144725.c16588","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sunrisers Hyderabad","value":"Sunrisers Hyderabad","type":"str"},{"label":"Mumbai Indians","value":"Mumbai Indians","type":"str"},{"label":"Royal Challengers Bangalore","value":"Royal Challengers Bangalore","type":"str"},{"label":"Rising Pune Supergiant","value":"Rising Pune Supergiant","type":"str"},{"label":"Kolkata Knight Riders","value":"Kolkata Knight Riders","type":"str"},{"label":"Kings XI Punjab","value":"Kings XI Punjab","type":"str"},{"label":"Delhi Daredevils","value":"Delhi Daredevils","type":"str"},{"label":"Gujarat Lions","value":"Gujarat Lions","type":"str"},{"label":"Deccan Chargers","value":"Deccan Chargers","type":"str"},{"label":"Chennai Super Kings","value":"Chennai Super Kings","type":"str"},{"label":"Pune Warriors","value":"Pune Warriors","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":220,"wires":[["ae81f2cb.3813d","925924df.fc2688"]]},{"id":"b0e789f4.588b98","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":160,"wires":[]},{"id":"ae81f2cb.3813d","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":260,"wires":[]},{"id":"565cb091.1f2cb","type":"ui_form","z":"d3e6a0f0.513d6","name":"","label":"","group":"96144725.c16588","order":8,"width":0,"height":0,"options":[{"label":"Click the box to continue","value":"Y","type":"checkbox","required":true,"rows":null}],"formValue":{"Y":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":120,"y":80,"wires":[["67ef73f6.b1d9fc","a9ce0140.6ce42"]]},{"id":"fb67ae07.79b89","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Toss decision","tooltip":"","place":"Select option","group":"96144725.c16588","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"field","value":"field","type":"str"},{"label":"bat","value":"bat","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":300,"wires":[["f7346b08.2588b8","12712835.9fcc58"]]},{"id":"90aea47b.9b29e8","type":"ui_form","z":"fe83a50f.6d9e28","name":"","label":"","group":"6a5668eb.ea54b8","order":5,"width":0,"height":0,"options":[{"label":"Click the box to continue","value":"x","type":"checkbox","required":true,"rows":null}],"formValue":{"x":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":80,"wires":[["f0fd3afd.76a528","f34ada6b.1c7268"]]},{"id":"5b837861.390c38","type":"ui_dropdown","z":"fe83a50f.6d9e28","name":"team1","label":"Select Team 1","tooltip":"Select from list","place":"Select any One","group":"6a5668eb.ea54b8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sunrisers Hyderabad","value":"Sunrisers Hyderabad","type":"str"},{"label":"Mumbai Indians","value":"Mumbai Indians","type":"str"},{"label":"Royal Challengers Bangalore","value":"Royal Challengers Bangalore","type":"str"},{"label":"Rising Pune Supergiant","value":"Rising Pune Supergiant","type":"str"},{"label":"Kolkata Knight Riders","value":"Kolkata Knight Riders","type":"str"},{"label":"Kings XI Punjab","value":"Kings XI Punjab","type":"str"},{"label":"Delhi Daredevils","value":"Delhi Daredevils","type":"str"},{"label":"Gujarat Lions","value":"Gujarat Lions","type":"str"},{"label":"Deccan Chargers","value":"Deccan Chargers","type":"str"},{"label":"Chennai Super Kings","value":"Chennai Super Kings","type":"str"},{"label":"Pune Warriors","value":"Pune Warriors","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":50,"y":240,"wires":[["637e9368.a360cc","a424bdb7.f1722"]]},{"id":"39199be5.2f2b54","type":"ui_dropdown","z":"fe83a50f.6d9e28","name":"team2","label":"Select Team 2","tooltip":"","place":"Select One Option","group":"6a5668eb.ea54b8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sunrisers Hyderabad","value":"Sunrisers Hyderabad","type":"str"},{"label":"Mumbai Indians","value":"Mumbai Indians","type":"str"},{"label":"Royal Challengers Bangalore","value":"Royal Challengers Bangalore","type":"str"},{"label":"Rising Pune Supergiant","value":"Rising Pune Supergiant","type":"str"},{"label":"Kolkata Knight Riders","value":"Kolkata Knight Riders","type":"str"},{"label":"Kings XI Punjab","value":"Kings XI Punjab","type":"str"},{"label":"Delhi Daredevils","value":"Delhi Daredevils","type":"str"},{"label":"Gujarat Lions","value":"Gujarat Lions","type":"str"},{"label":"Deccan Chargers","value":"Deccan Chargers","type":"str"},{"label":"Chennai Super Kings","value":"Chennai Super Kings","type":"str"},{"label":"Pune Warriors","value":"Pune Warriors","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":50,"y":340,"wires":[["48d95fb7.6ca69","12a89e8c.7afcf1"]]},{"id":"9486f5ec.a3c758","type":"ui_dropdown","z":"fe83a50f.6d9e28","name":"toss_winner","label":"Toss Winner                                           ","tooltip":"","place":"Select option","group":"6a5668eb.ea54b8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Team 1","value":"Team 1","type":"str"},{"label":"Team 2","value":"Team 2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":70,"y":440,"wires":[["4a69f4ec.0999ac","6ed2edb1.4e58a4"]]},{"id":"7592dbb0.a633c4","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Venue   ","tooltip":"","place":"Select option","group":"96144725.c16588","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"ACA-VDCA Stadium","value":"ACA-VDCA Stadium","type":"str"},{"label":"Barabati Stadium","value":"Barabati Stadium","type":"str"},{"label":"Brabourne Stadium","value":"Brabourne Stadium","type":"str"},{"label":"Buffalo Park","value":"Buffalo Park","type":"str"},{"label":"De Beers Diamond Oval","value":"De Beers Diamond Oval","type":"str"},{"label":"Dr DY Patil Sports Academy","value":"Dr DY Patil Sports Academy","type":"str"},{"label":"Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium","value":"Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium","type":"str"},{"label":"Dubai International Cricket Stadium","value":"Dubai International Cricket Stadium","type":"str"},{"label":"Eden Gardens","value":"Eden Gardens","type":"str"},{"label":"Feroz Shah Kotla","value":"Feroz Shah Kotla","type":"str"},{"label":"Feroz Shah Kotla Ground","value":"Feroz Shah Kotla Ground","type":"str"},{"label":"Green Park","value":"Green Park","type":"str"},{"label":"Himachal Pradesh Cricket Association Stadium","value":"Himachal Pradesh Cricket Association Stadium","type":"str"},{"label":"Holkar Cricket Stadium","value":"Holkar Cricket Stadium","type":"str"},{"label":"IS Bindra Stadium","value":"IS Bindra Stadium","type":"str"},{"label":"JSCA International Stadium Complex","value":"JSCA International Stadium Complex","type":"str"},{"label":"Kingsmead","value":"Kingsmead","type":"str"},{"label":"M Chinnaswamy Stadium","value":"M Chinnaswamy Stadium","type":"str"},{"label":"M. A. Chidambaram Stadium","value":"M. A. Chidambaram Stadium","type":"str"},{"label":"M. Chinnaswamy Stadium","value":"M. Chinnaswamy Stadium","type":"str"},{"label":"MA Chidambaram Stadium, Chepauk","value":"MA Chidambaram Stadium, Chepauk","type":"str"},{"label":"Maharashtra Cricket Association Stadium","value":"Maharashtra Cricket Association Stadium","type":"str"},{"label":"Nehru Stadium","value":"Nehru Stadium","type":"str"},{"label":"New Wanderers Stadium","value":"New Wanderers Stadium","type":"str"},{"label":"Newlands","value":"Newlands","type":"str"},{"label":"OUTsurance Oval","value":"OUTsurance Oval","type":"str"},{"label":"Punjab Cricket Association IS Bindra Stadium, Mohali","value":"Punjab Cricket Association IS Bindra Stadium, Mohali","type":"str"},{"label":"Punjab Cricket Association Stadium, Mohali","value":"Punjab Cricket Association Stadium, Mohali","type":"str"},{"label":"Rajiv Gandhi International Stadium, Uppal","value":"Rajiv Gandhi International Stadium, Uppal","type":"str"},{"label":"Rajiv Gandhi Intl. Cricket Stadium","value":"Rajiv Gandhi Intl. Cricket Stadium","type":"str"},{"label":"Sardar Patel Stadium, Motera","value":"Sardar Patel Stadium, Motera","type":"str"},{"label":"Saurashtra Cricket Association Stadium","value":"Saurashtra Cricket Association Stadium","type":"str"},{"label":"Sawai Mansingh Stadium","value":"Sawai Mansingh Stadium","type":"str"},{"label":"Shaheed Veer Narayan Singh International Stadium","value":"Shaheed Veer Narayan Singh International Stadium","type":"str"},{"label":"Sharjah Cricket Stadium","value":"Sharjah Cricket Stadium","type":"str"},{"label":"Sheikh Zayed Stadium","value":"Sheikh Zayed Stadium","type":"str"},{"label":"St George's Park","value":"St George's Park","type":"str"},{"label":"Subrata Roy Sahara Stadium","value":"Subrata Roy Sahara Stadium","type":"str"},{"label":"SuperSport Park","value":"SuperSport Park","type":"str"},{"label":"Vidarbha Cricket Association Stadium, Jamtha","value":"Vidarbha Cricket Association Stadium, Jamtha","type":"str"},{"label":"Wankhede Stadium","value":"Wankhede Stadium","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":420,"wires":[["d9dc3ebc.efbad","b98a2050.e2e32"]]},{"id":"6e24731e.f2372c","type":"ui_dropdown","z":"fe83a50f.6d9e28","name":"venue","label":"Venue   ","tooltip":"","place":"Select option","group":"6a5668eb.ea54b8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"ACA-VDCA Stadium","value":"ACA-VDCA Stadium","type":"str"},{"label":"Barabati Stadium","value":"Barabati Stadium","type":"str"},{"label":"Brabourne Stadium","value":"Brabourne Stadium","type":"str"},{"label":"Buffalo Park","value":"Buffalo Park","type":"str"},{"label":"De Beers Diamond Oval","value":"De Beers Diamond Oval","type":"str"},{"label":"Dr DY Patil Sports Academy","value":"Dr DY Patil Sports Academy","type":"str"},{"label":"Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium","value":"Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium","type":"str"},{"label":"Dubai International Cricket Stadium","value":"Dubai International Cricket Stadium","type":"str"},{"label":"Eden Gardens","value":"Eden Gardens","type":"str"},{"label":"Feroz Shah Kotla","value":"Feroz Shah Kotla","type":"str"},{"label":"Feroz Shah Kotla Ground","value":"Feroz Shah Kotla Ground","type":"str"},{"label":"Green Park","value":"Green Park","type":"str"},{"label":"Himachal Pradesh Cricket Association Stadium","value":"Himachal Pradesh Cricket Association Stadium","type":"str"},{"label":"Holkar Cricket Stadium","value":"Holkar Cricket Stadium","type":"str"},{"label":"IS Bindra Stadium","value":"IS Bindra Stadium","type":"str"},{"label":"JSCA International Stadium Complex","value":"JSCA International Stadium Complex","type":"str"},{"label":"Kingsmead","value":"Kingsmead","type":"str"},{"label":"M Chinnaswamy Stadium","value":"M Chinnaswamy Stadium","type":"str"},{"label":"M. A. Chidambaram Stadium","value":"M. A. Chidambaram Stadium","type":"str"},{"label":"M. Chinnaswamy Stadium","value":"M. Chinnaswamy Stadium","type":"str"},{"label":"MA Chidambaram Stadium, Chepauk","value":"MA Chidambaram Stadium, Chepauk","type":"str"},{"label":"Maharashtra Cricket Association Stadium","value":"Maharashtra Cricket Association Stadium","type":"str"},{"label":"Nehru Stadium","value":"Nehru Stadium","type":"str"},{"label":"New Wanderers Stadium","value":"New Wanderers Stadium","type":"str"},{"label":"Newlands","value":"Newlands","type":"str"},{"label":"OUTsurance Oval","value":"OUTsurance Oval","type":"str"},{"label":"Punjab Cricket Association IS Bindra Stadium, Mohali","value":"Punjab Cricket Association IS Bindra Stadium, Mohali","type":"str"},{"label":"Punjab Cricket Association Stadium, Mohali","value":"Punjab Cricket Association Stadium, Mohali","type":"str"},{"label":"Rajiv Gandhi International Stadium, Uppal","value":"Rajiv Gandhi International Stadium, Uppal","type":"str"},{"label":"Rajiv Gandhi Intl. Cricket Stadium","value":"Rajiv Gandhi Intl. Cricket Stadium","type":"str"},{"label":"Sardar Patel Stadium, Motera","value":"Sardar Patel Stadium, Motera","type":"str"},{"label":"Saurashtra Cricket Association Stadium","value":"Saurashtra Cricket Association Stadium","type":"str"},{"label":"Sawai Mansingh Stadium","value":"Sawai Mansingh Stadium","type":"str"},{"label":"Shaheed Veer Narayan Singh International Stadium","value":"Shaheed Veer Narayan Singh International Stadium","type":"str"},{"label":"Sharjah Cricket Stadium","value":"Sharjah Cricket Stadium","type":"str"},{"label":"Sheikh Zayed Stadium","value":"Sheikh Zayed Stadium","type":"str"},{"label":"St George's Park","value":"St George's Park","type":"str"},{"label":"Subrata Roy Sahara Stadium","value":"Subrata Roy Sahara Stadium","type":"str"},{"label":"SuperSport Park","value":"SuperSport Park","type":"str"},{"label":"Vidarbha Cricket Association Stadium, Jamtha","value":"Vidarbha Cricket Association Stadium, Jamtha","type":"str"},{"label":"Wankhede Stadium","value":"Wankhede Stadium","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":70,"y":540,"wires":[["8ca49362.f6d77","1e7250c4.f1c95f"]]},{"id":"af97e23.94bd12","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Umpire 1","tooltip":"","place":"Select option","group":"96144725.c16588","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"A Deshmukh","value":"A Deshmukh","type":"str"},{"label":"A Nand Kishore","value":"A Nand Kishore","type":"str"},{"label":"A.D Deshmukh","value":"A.D Deshmukh","type":"str"},{"label":"AK Chaudhary","value":"AK Chaudhary","type":"str"},{"label":"AL Hill","value":"AL Hill","type":"str"},{"label":"Aleem Dar","value":"Aleem Dar","type":"str"},{"label":"AM Saheba","value":"AM Saheba","type":"str"},{"label":"Anil Chaudhary","value":"Anil Chaudhary","type":"str"},{"label":"Anil Dandekar","value":"Anil Dandekar","type":"str"},{"label":"Asad Rauf","value":"Asad Rauf","type":"str"},{"label":"AV Jayaprakash","value":"AV Jayaprakash","type":"str"},{"label":"AY Dandekar","value":"AY Dandekar","type":"str"},{"label":"BF Bowden","value":"BF Bowden","type":"str"},{"label":"BG Jerling","value":"BG Jerling","type":"str"},{"label":"BNJ Oxenford","value":"BNJ Oxenford","type":"str"},{"label":"BR Doctrove","value":"BR Doctrove","type":"str"},{"label":"Bruce Oxenford","value":"Bruce Oxenford","type":"str"},{"label":"C Shamshuddin","value":"C Shamshuddin","type":"str"},{"label":"CB Gaffaney","value":"CB Gaffaney","type":"str"},{"label":"Chris Gaffaney","value":"Chris Gaffaney","type":"str"},{"label":"CK Nandan","value":"CK Nandan","type":"str"},{"label":"DJ Harper","value":"DJ Harper","type":"str"},{"label":"GA Pratapkumar","value":"GA Pratapkumar","type":"str"},{"label":"GAV Baxter","value":"GAV Baxter","type":"str"},{"label":"HDPK Dharmasena","value":"HDPK Dharmasena","type":"str"},{"label":"I Shivram","value":"I Shivram","type":"str"},{"label":"Ian Gould","value":"Ian Gould","type":"str"},{"label":"IL Howell","value":"IL Howell","type":"str"},{"label":"JD Cloete","value":"JD Cloete","type":"str"},{"label":"K Ananthapadmanabhan","value":"K Ananthapadmanabhan","type":"str"},{"label":"K Bharatan","value":"K Bharatan","type":"str"},{"label":"K Hariharan","value":"K Hariharan","type":"str"},{"label":"K Srinath","value":"K Srinath","type":"str"},{"label":"KN Anantapadmanabhan","value":"KN Anantapadmanabhan","type":"str"},{"label":"Kumar Dharmasena","value":"Kumar Dharmasena","type":"str"},{"label":"M Erasmus","value":"M Erasmus","type":"str"},{"label":"Marais Erasmus","value":"Marais Erasmus","type":"str"},{"label":"MR Benson","value":"MR Benson","type":"str"},{"label":"Nanda Kishore","value":"Nanda Kishore","type":"str"},{"label":"Nigel Llong","value":"Nigel Llong","type":"str"},{"label":"Nitin Menon","value":"Nitin Menon","type":"str"},{"label":"NJ Llong","value":"NJ Llong","type":"str"},{"label":"O Nandan","value":"O Nandan","type":"str"},{"label":"PG Pathak","value":"PG Pathak","type":"str"},{"label":"PR Reiffel","value":"PR Reiffel","type":"str"},{"label":"RB Tiffin","value":"RB Tiffin","type":"str"},{"label":"RE Koertzen","value":"RE Koertzen","type":"str"},{"label":"RJ Tucker","value":"RJ Tucker","type":"str"},{"label":"RK Illingworth","value":"RK Illingworth","type":"str"},{"label":"RM Deshpande","value":"RM Deshpande","type":"str"},{"label":"Rod Tucker","value":"Rod Tucker","type":"str"},{"label":"S Asnani","value":"S Asnani","type":"str"},{"label":"S Das","value":"S Das","type":"str"},{"label":"S Ravi","value":"S Ravi","type":"str"},{"label":"SD Fry","value":"SD Fry","type":"str"},{"label":"SD Ranade","value":"SD Ranade","type":"str"},{"label":"SJ Davis","value":"SJ Davis","type":"str"},{"label":"SJA Taufel","value":"SJA Taufel","type":"str"},{"label":"SK Tarapore","value":"SK Tarapore","type":"str"},{"label":"SL Shastri","value":"SL Shastri","type":"str"},{"label":"SS Hazare","value":"SS Hazare","type":"str"},{"label":"Subroto Das","value":"Subroto Das","type":"str"},{"label":"TH Wijewardene","value":"TH Wijewardene","type":"str"},{"label":"Ulhas Gandhe","value":"Ulhas Gandhe","type":"str"},{"label":"VA Kulkarni","value":"VA Kulkarni","type":"str"},{"label":"Vineet Kulkarni","value":"Vineet Kulkarni","type":"str"},{"label":"Virender Kumar Sharma","value":"Virender Kumar Sharma","type":"str"},{"label":"VK Sharma","value":"VK Sharma","type":"str"},{"label":"YC Barde","value":"YC Barde","type":"str"},{"label":"Yeshwant Barde","value":"Yeshwant Barde","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":460,"wires":[["6fbc4f8e.6a345","6e855aaa.059e34"]]},{"id":"79c3723a.c2d75c","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Umpire 2","tooltip":"","place":"Select option","group":"96144725.c16588","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"A Deshmukh","value":"A Deshmukh","type":"str"},{"label":"A Nand Kishore","value":"A Nand Kishore","type":"str"},{"label":"A.D Deshmukh","value":"A.D Deshmukh","type":"str"},{"label":"AK Chaudhary","value":"AK Chaudhary","type":"str"},{"label":"AL Hill","value":"AL Hill","type":"str"},{"label":"Aleem Dar","value":"Aleem Dar","type":"str"},{"label":"AM Saheba","value":"AM Saheba","type":"str"},{"label":"Anil Chaudhary","value":"Anil Chaudhary","type":"str"},{"label":"Anil Dandekar","value":"Anil Dandekar","type":"str"},{"label":"Asad Rauf","value":"Asad Rauf","type":"str"},{"label":"AV Jayaprakash","value":"AV Jayaprakash","type":"str"},{"label":"AY Dandekar","value":"AY Dandekar","type":"str"},{"label":"BF Bowden","value":"BF Bowden","type":"str"},{"label":"BG Jerling","value":"BG Jerling","type":"str"},{"label":"BNJ Oxenford","value":"BNJ Oxenford","type":"str"},{"label":"BR Doctrove","value":"BR Doctrove","type":"str"},{"label":"Bruce Oxenford","value":"Bruce Oxenford","type":"str"},{"label":"C Shamshuddin","value":"C Shamshuddin","type":"str"},{"label":"CB Gaffaney","value":"CB Gaffaney","type":"str"},{"label":"Chris Gaffaney","value":"Chris Gaffaney","type":"str"},{"label":"CK Nandan","value":"CK Nandan","type":"str"},{"label":"DJ Harper","value":"DJ Harper","type":"str"},{"label":"GA Pratapkumar","value":"GA Pratapkumar","type":"str"},{"label":"GAV Baxter","value":"GAV Baxter","type":"str"},{"label":"HDPK Dharmasena","value":"HDPK Dharmasena","type":"str"},{"label":"I Shivram","value":"I Shivram","type":"str"},{"label":"Ian Gould","value":"Ian Gould","type":"str"},{"label":"IL Howell","value":"IL Howell","type":"str"},{"label":"JD Cloete","value":"JD Cloete","type":"str"},{"label":"K Ananthapadmanabhan","value":"K Ananthapadmanabhan","type":"str"},{"label":"K Bharatan","value":"K Bharatan","type":"str"},{"label":"K Hariharan","value":"K Hariharan","type":"str"},{"label":"K Srinath","value":"K Srinath","type":"str"},{"label":"KN Anantapadmanabhan","value":"KN Anantapadmanabhan","type":"str"},{"label":"Kumar Dharmasena","value":"Kumar Dharmasena","type":"str"},{"label":"M Erasmus","value":"M Erasmus","type":"str"},{"label":"Marais Erasmus","value":"Marais Erasmus","type":"str"},{"label":"MR Benson","value":"MR Benson","type":"str"},{"label":"Nanda Kishore","value":"Nanda Kishore","type":"str"},{"label":"Nigel Llong","value":"Nigel Llong","type":"str"},{"label":"Nitin Menon","value":"Nitin Menon","type":"str"},{"label":"NJ Llong","value":"NJ Llong","type":"str"},{"label":"O Nandan","value":"O Nandan","type":"str"},{"label":"PG Pathak","value":"PG Pathak","type":"str"},{"label":"PR Reiffel","value":"PR Reiffel","type":"str"},{"label":"RB Tiffin","value":"RB Tiffin","type":"str"},{"label":"RE Koertzen","value":"RE Koertzen","type":"str"},{"label":"RJ Tucker","value":"RJ Tucker","type":"str"},{"label":"RK Illingworth","value":"RK Illingworth","type":"str"},{"label":"RM Deshpande","value":"RM Deshpande","type":"str"},{"label":"Rod Tucker","value":"Rod Tucker","type":"str"},{"label":"S Asnani","value":"S Asnani","type":"str"},{"label":"S Das","value":"S Das","type":"str"},{"label":"S Ravi","value":"S Ravi","type":"str"},{"label":"SD Fry","value":"SD Fry","type":"str"},{"label":"SD Ranade","value":"SD Ranade","type":"str"},{"label":"SJ Davis","value":"SJ Davis","type":"str"},{"label":"SJA Taufel","value":"SJA Taufel","type":"str"},{"label":"SK Tarapore","value":"SK Tarapore","type":"str"},{"label":"SL Shastri","value":"SL Shastri","type":"str"},{"label":"SS Hazare","value":"SS Hazare","type":"str"},{"label":"Subroto Das","value":"Subroto Das","type":"str"},{"label":"TH Wijewardene","value":"TH Wijewardene","type":"str"},{"label":"Ulhas Gandhe","value":"Ulhas Gandhe","type":"str"},{"label":"VA Kulkarni","value":"VA Kulkarni","type":"str"},{"label":"Vineet Kulkarni","value":"Vineet Kulkarni","type":"str"},{"label":"Virender Kumar Sharma","value":"Virender Kumar Sharma","type":"str"},{"label":"VK Sharma","value":"VK Sharma","type":"str"},{"label":"YC Barde","value":"YC Barde","type":"str"},{"label":"Yeshwant Barde","value":"Yeshwant Barde","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":520,"wires":[["f35f968a.8c1988","c03e442e.a26c48"]]},{"id":"f7346b08.2588b8","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":320,"wires":[]},{"id":"708cddfd.867a34","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":380,"wires":[]},{"id":"d9dc3ebc.efbad","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":440,"wires":[]},{"id":"6fbc4f8e.6a345","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":520,"wires":[]},{"id":"f35f968a.8c1988","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":580,"wires":[]},{"id":"67ef73f6.b1d9fc","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"9a71161d.e90128","type":"function","z":"d3e6a0f0.513d6","name":"Select Team 1","func":"global.set(\"team1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":160,"wires":[[]]},{"id":"925924df.fc2688","type":"function","z":"d3e6a0f0.513d6","name":"Select Team2","func":"global.set(\"team2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[[]]},{"id":"12712835.9fcc58","type":"function","z":"d3e6a0f0.513d6","name":"Toss","func":"global.set(\"toss_decision\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":320,"wires":[[]]},{"id":"83b57607.b6c078","type":"function","z":"d3e6a0f0.513d6","name":"Toss Winner","func":"global.set(\"toss_winner\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":400,"wires":[[]]},{"id":"b98a2050.e2e32","type":"function","z":"d3e6a0f0.513d6","name":"Venue","func":"global.set(\"venue\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[[]]},{"id":"6e855aaa.059e34","type":"function","z":"d3e6a0f0.513d6","name":"umpire1","func":"global.set(\"umpire1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":520,"wires":[[]]},{"id":"c03e442e.a26c48","type":"function","z":"d3e6a0f0.513d6","name":"umpire2","func":"global.set(\"umpire2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":580,"wires":[[]]},{"id":"ce53f45.b008108","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":240,"wires":[]},{"id":"c5445813.7945c8","type":"http request","z":"d3e6a0f0.513d6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":100,"wires":[["ce53f45.b008108","8545d69a.446478"]]},{"id":"8545d69a.446478","type":"function","z":"d3e6a0f0.513d6","name":"prediction","func":"var team1 = global.get(\"team1\") \nvar team2 = global.get(\"team2\") \nvar toss_decision = global.get(\"toss_decision\") \nvar toss_winner = global.get(\"toss_winner\") \nif (toss_winner=='Team 1')\n   toss_winner=team1\nelse\n   toss_winner=team2\nvar venue = global.get(\"venue\") \nvar umpire1 = global.get(\"umpire1\") \nvar umpire2 = global.get(\"umpire2\") \nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"id\",\n\t\t\t\t\"season\",\n\t\t\t\t\"city\",\n\t\t\t\t\"date\",\n\t\t\t\t\"team1\",\n\t\t\t\t\"team2\",\n\t\t\t\t\"toss_winner\",\n\t\t\t\t\"toss_decision\",\n\t\t\t\t\"result\",\n\t\t\t\t\"dl_applied\",\n\t\t\t\t\"win_by_runs\",\n\t\t\t\t\"win_by_wickets\",\n\t\t\t\t\"player_of_match\",\n\t\t\t\t\"venue\",\n\t\t\t\t\"umpire1\",\n\t\t\t\t\"umpire2\",\n\t\t\t\t\"umpire3\"]],\"values\": [[null,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tteam1,\n\t\t\t\t\tteam2,\n\t\t\t\t\ttoss_winner,\n\t\t\t\t\ttoss_decision,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tvenue,\n\t\t\t\t\tumpire1,\n\t\t\t\t\tumpire2,\n\t\t\t\t\tnull]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":340,"wires":[["e63ae9d.b59cb18"]]},{"id":"e63ae9d.b59cb18","type":"http request","z":"d3e6a0f0.513d6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/775d0858-f22e-4c12-8857-0eac5bd32e31/predictions?version=2021-07-20","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":420,"wires":[["9549f83d.4a4158","573ae598.cac22c"]]},{"id":"9549f83d.4a4158","type":"debug","z":"d3e6a0f0.513d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":520,"wires":[]},{"id":"573ae598.cac22c","type":"function","z":"d3e6a0f0.513d6","name":"prediction path","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":560,"wires":[["5effb939.ba8ba8"]]},{"id":"5effb939.ba8ba8","type":"ui_text","z":"d3e6a0f0.513d6","group":"96144725.c16588","order":9,"width":0,"height":0,"name":"","label":"This Model is 93.9% accurate. According to provided data team with highest probability of winning is :","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":560,"wires":[]},{"id":"a9ce0140.6ce42","type":"function","z":"d3e6a0f0.513d6","name":"","func":"global.set(\"Y\",msg.payload.Y)\nvar apikey=\"0XhpJmgCH6Ba9ISXh_jwG5C47xzcV3rl8cxOae6NTB_2\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":60,"wires":[["c5445813.7945c8"]]},{"id":"2780ada2.3b5c22","type":"ui_dropdown","z":"d3e6a0f0.513d6","name":"","label":"Toss Winner","tooltip":"","place":"Select option","group":"96144725.c16588","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Team 1","value":"Team 1","type":"str"},{"label":"Team 2","value":"Team 2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["708cddfd.867a34","83b57607.b6c078"]]},{"id":"f0fd3afd.76a528","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":20,"wires":[]},{"id":"637e9368.a360cc","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":180,"wires":[]},{"id":"48d95fb7.6ca69","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":280,"wires":[]},{"id":"4a69f4ec.0999ac","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":400,"wires":[]},{"id":"8ca49362.f6d77","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":500,"wires":[]},{"id":"f34ada6b.1c7268","type":"function","z":"fe83a50f.6d9e28","name":"","func":"global.set(\"x\",msg.payload.x)\nvar apikey=\"0XhpJmgCH6Ba9ISXh_jwG5C47xzcV3rl8cxOae6NTB_2\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":80,"wires":[["88fa4ff1.2c9b5"]]},{"id":"a424bdb7.f1722","type":"function","z":"fe83a50f.6d9e28","name":"","func":"global.set(\"team1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[[]]},{"id":"12a89e8c.7afcf1","type":"function","z":"fe83a50f.6d9e28","name":"","func":"global.set(\"team2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":360,"wires":[[]]},{"id":"6ed2edb1.4e58a4","type":"function","z":"fe83a50f.6d9e28","name":"","func":"global.set(\"toss_winner\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":460,"wires":[[]]},{"id":"1e7250c4.f1c95f","type":"function","z":"fe83a50f.6d9e28","name":"","func":"global.set(\"venue\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":560,"wires":[[]]},{"id":"88fa4ff1.2c9b5","type":"http request","z":"fe83a50f.6d9e28","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":40,"wires":[["93c31e0b.02d19","d0e2af97.e704f"]]},{"id":"93c31e0b.02d19","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":40,"wires":[]},{"id":"d0e2af97.e704f","type":"function","z":"fe83a50f.6d9e28","name":"","func":"\nvar team1 = global.get(\"team1\") \nvar team2 = global.get(\"team2\") \nvar venue = global.get(\"venue\") \nvar toss_winner=global.get(\"toss_winner\")\nif (toss_winner=='Team 1')\n   toss_winner= team1\nelse\n   toss_winner=team2\nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"id\",\n\t\t\t\t\"season\",\n\t\t\t\t\"city\",\n\t\t\t\t\"date\",\n\t\t\t\t\"team1\",\n\t\t\t\t\"team2\",\n\t\t\t\t\"toss_winner\",\n\t\t\t\t\"result\",\n\t\t\t\t\"dl_applied\",\n\t\t\t\t\"winner\",\n\t\t\t\t\"win_by_runs\",\n\t\t\t\t\"win_by_wickets\",\n\t\t\t\t\"player_of_match\",\n\t\t\t\t\"venue\",\n\t\t\t\t\"umpire1\",\n\t\t\t\t\"umpire2\",\n\t\t\t\t\"umpire3\"]],\"values\": [[null,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tteam1,\n\t\t\t\t\tteam2,\n\t\t\t\t\ttoss_winner,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\ttoss_winner,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tvenue,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull,\n\t\t\t\t\tnull]]}]} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":80,"wires":[["d1bff5b5.26e018"]]},{"id":"d1bff5b5.26e018","type":"http request","z":"fe83a50f.6d9e28","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/e32ca74a-693c-4623-8977-e183c0641899/predictions?version=2021-07-20","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":80,"wires":[["3514affc.491ec","935ee11f.63557"]]},{"id":"3514affc.491ec","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":140,"wires":[]},{"id":"935ee11f.63557","type":"function","z":"fe83a50f.6d9e28","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nif (msg.payload=='bat')\n    msg.payload = 'Batting'\nelse \n    msg.payload='Fielding'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["a15872be.f31","e57022e6.e8ed6"]]},{"id":"a15872be.f31","type":"debug","z":"fe83a50f.6d9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":260,"wires":[]},{"id":"e57022e6.e8ed6","type":"ui_text","z":"fe83a50f.6d9e28","group":"6a5668eb.ea54b8","order":5,"width":0,"height":0,"name":"","label":"This Model is 96.9% Accurate. In order to increase the chances of winning, team must select :","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":320,"wires":[]}]